<!DOCTYPE html>
<html>
<head>
  <title>Card Detail</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'CSS/card_detail.css' %}">
  <!-- from https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css -->
  <link rel="stylesheet" href="{% static 'assets/jquery/jquery-ui.css'%}">
<!--  from https://code.jquery.com/jquery-1.12.4.js -->
  <script src="{% static 'assets/jquery/jquery-1.12.4.js' %}"></script>
<!--  from https://code.jquery.com/ui/1.12.1/jquery-ui.js -->
  <script src="{% static 'assets/jquery/jquery-ui.js' %}"></script>
</head>
<body>
  <div class="card-detail">
    <div id="image_and_parts_div">
      <div id="image_div">
        <div id="content_div">
        </div>
      </div>
      <div id="image_parts_div">
        <div class="image_part_place">
          <canvas id="canvas1"></canvas>
        </div>
        <div class="image_part_place">
          <canvas id="canvas2"></canvas>
        </div>
        <div class="image_part_place">
          <canvas id="canvas3"></canvas>
        </div>
      </div>
    </div>
    
    <input type="file" id="fileInput" accept="image/*"/>

    <p class="title">{{ card.title }}</p>
    <div>
      <label for="tags">Tags: </label>
      <input id="tags">
    </div>
    <div id="selected-tags">
      <!-- Here will be added selected tags -->
    </div>
    <input type="button" value="Save" id="saveButton">
    <input type="button" value="Save And Go Next" id="saveAndGoNextButton">
  </div>

</body>
<script src="{% static 'JS/images.js' %}"></script>
<script>  // global variables
  var card_id = '{{ card.id }}';
  var csrftoken = '{{ csrf_token }}';
  var allTags = {{ all_tags|safe }};
  var currentTags = {{ tags|safe }};
  var imageParts = {{ image_parts|safe }};  // [{start_x:..,start_y:..,width:..,height:..,tags:[...]}, ...]
  var new_file_selected = false;

  var activeCanvas = null;
  var activeCanvasNumber = null;

  var canvas1_position = {x_pct: 60, y_px: 0};
  var canvas2_position = {x_pct: 60, y_px: 240};
  var canvas3_position = {x_pct: 60, y_px: 480};

  var card_type = '{{ card.type_name }}';

  // config
  var imagePartsMode = true
</script>

<script>  // image upload
    var contentDiv = document.getElementById('content_div');
    var fileInput = document.getElementById('fileInput');

    function onFileUpload(event){
      console.log('File selected');
        let selectedFile = event.target.files[0];

        if (selectedFile) {
            new_file_selected = true;
            const reader = new FileReader();
            
            // Визначимо MIME-тип файлу
            let fileType = selectedFile.type;

            reader.onload = (event) => {
                card_type = fileType.startsWith('image/') ? 'image' : 'video'
                fill_content(card_type, event.target.result)
            };

            reader.readAsDataURL(selectedFile);
        }
    }

    contentDiv.addEventListener('dragover', (e) => {
        e.preventDefault();
        e.stopPropagation();
    });

    contentDiv.addEventListener('drop', (e) => {
        e.preventDefault();
        e.stopPropagation();
        
        // Отримуємо перетягнуті файли
        const files = e.dataTransfer.files;

        if (files.length > 0) {
            fileInput.files = files;
            onFileUpload({target: fileInput});
        }
    });

    // Подія, яка відбувається при виборі файлу
    fileInput.addEventListener('change', onFileUpload);
</script>


<script>  // save button
  let saveButton = document.getElementById('saveButton');
  let saveAndGoNextButton = document.getElementById('saveAndGoNextButton');

  function save(callback=()=>{}) {
    let tags = document.querySelectorAll('.tag');
    let tagNames = [];
    for (var i = 0; i < tags.length; i++) {
      var tag = tags[i];
      tagNames.push(tag.innerText);
    }

    let content = null;
    if (card_type === 'image') {
        let imageElement = document.getElementById('clickableImage');
        content = new_file_selected ? imageElement.src : null;
    } else if (card_type === 'video') {
        let videoElement = document.querySelector('video');
        content = new_file_selected ? videoElement.src : null;
    }

    fetch('/cards/save/', {
        method: 'POST',
        headers: {
          'X-CSRFToken': csrftoken,
          'Accept': 'application/json',
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          card_id: card_id,
          title: 'title',
          description: 'description',
          tags: tagNames,
          card_type: card_type,
          content: content,  // Вміст - або зображення, або відео
          image_parts: imageParts
        })
    })
    .then(response => response.json())
    .then(data => {
      console.log(data); 
      temporaryAlert(data["message"], 1000);
      if (data['saved']){
        card_id = data['card_id'];
        callback();
      }
    })
    .catch(error => console.error(error));
  }

  saveButton.addEventListener('click', save);
  saveAndGoNextButton.addEventListener('click', function() {
    save(function() {
      window.location.href = `/cards/${card_id}/create/`;
    });
  });

</script>

<script>  // autocomplete
  $( function() {
    function displayTags() {
      $('#selected-tags').empty();
      currentTags.forEach(function(tag) {
        var tagElement = $('<p>' + tag + '</p>');
        tagElement.addClass('tag');
        tagElement.on('click', function() {
          var index = currentTags.indexOf(tag);
          if (index > -1) {
            currentTags.splice(index, 1);
          }
          displayTags();
        });
        $('#selected-tags').append(tagElement);
      });
    }

    displayTags();

    $( "#tags" ).autocomplete({
      source: function(request, response) {
        var term = request.term.toLowerCase();
        var matchedTags = allTags.filter(function(tag) {
          return tag.toLowerCase().startsWith(term) && !currentTags.includes(tag);
        });
        response(matchedTags);
      },
      select: function(event, ui) {
        if(!currentTags.includes(ui.item.value)){
          currentTags.push(ui.item.value);  // Add the selected tag to the currentTags array
          displayTags();  // Re-draw the tags
        } else {
          alert("Tag is already added.");
        }
        $(this).val('');  // Clear the input field
        return false;  // Prevent the widget from inserting the value into the input
      }
    });
  });
</script>

<script>
  document.addEventListener("keydown", function(event) {
  // keyCode 83 відповідає клавіші 'S'
  if(event.ctrlKey) {
      if (event.keyCode === 83){  // 'S'
        event.preventDefault();
        save();
      }
      else if (event.keyCode === 46){  // 'Delete'
        event.preventDefault();

        // confirm delete
        var result = confirm("Want to delete?");
        if (!result) return;

        fetch(`/cards/${card_id}/delete/`, {
          method: 'DELETE',
          headers: {
            'X-CSRFToken': csrftoken,
            'Accept': 'application/json',
            'Content-Type': 'application/json'
          }
        }).then(response => {
        if (!response.ok) {
          throw new Error('HTTP error, status = ' + response.status);
        }
        window.location.href = "/cards/";
      }).catch(error => temporaryAlert(error, 4000));
      }
  }
  else if (! event.ctrlKey && ! event.shiftKey){
    if (event.keyCode === 27){  // 'Esc'
          event.preventDefault();
          window.location.href = "/cards/";
        }
    if (activeCanvas === null){
      var inputField = document.getElementById("tags");
      inputField.focus();
    } else {
      if (event.key.length > 1 && event.key!='Backspace') return;  // ignore special keys (like arrows)

      let tags = imageParts[activeCanvasNumber-1].tags.join(',')
      console.log(tags)
      if (event.key == 'Backspace'){
        tags = tags.slice(0, -1);
      } else {
        let key = event.key
        tags = tags + (key=='-' ? '_' : key);
      }

      imageParts[activeCanvasNumber-1].tags = tags.split(',');
      temporaryAlert(tags, 100);
    }
    
  } else if (event.keyCode === 73 && event.shiftKey){  // I  // works for Firefox
    event.preventDefault();
    fileInput.focus()
    fileInput.click();
  }
});
</script>

<script>
  onImageLoad()
</script>

<script>  // help functions
  function temporaryAlert(msg, duration) {
      var el = document.createElement("div");
      el.setAttribute("style", "position:fixed;top:2%;left:40%;background-color:white; opacity:0.8; font-size: 20px;");
      el.innerHTML = msg;
      setTimeout(function(){
          el.parentNode.removeChild(el);
      }, duration);
      document.body.appendChild(el);
  }
</script>

<script>
  function fill_content(card_type, content_url) {
    contentDiv.innerHTML = '';
    if (card_type === 'image') {
      let imageElement = document.createElement('img');
      imageElement.id = 'clickableImage';
      imageElement.src = content_url;
      contentDiv.appendChild(imageElement);
      onImageLoad()

      create_canvas_animation('canvas1', 15, 200, canvas1_position.x_pct, canvas1_position.y_px)
      create_canvas_animation('canvas2', 0, 100, canvas2_position.x_pct, canvas2_position.y_px)
      create_canvas_animation('canvas3', 10, 150, canvas3_position.x_pct, canvas3_position.y_px)
    } else if (card_type === 'video') {
      let videoElement = document.createElement('video');
      videoElement.src = content_url;
      videoElement.controls = true;  // Додаємо елементи управління відео
      contentDiv.appendChild(videoElement);
      onVideoLoad()
    } else {
      temporaryAlert('Unsupported file type', 1000);
    }
  }

  fill_content(card_type, '{{ card.content_url }}')
</script>
</html>
